[submodule "third_party/lua"]
	path = third_party/lua
url=https://github.com/LuaDist/lua.git
	ignore = dirty
[submodule "third_party/CDMlib"]
	path = third_party/CDMlib
url=https://github.com/avr-aics-riken/CDMlib.git
[submodule "third_party/PDMlib"]
	path = third_party/PDMlib
url=https://github.com/avr-aics-riken/PDMlib.git
[submodule "third_party/HDMlib"]
	path = third_party/HDMlib
url=https://github.com/avr-aics-riken/HDMlib.git
[submodule "third_party/BCMTools"]
	path = third_party/BCMTools
url=https://github.com/avr-aics-riken/BCMTools.git
[submodule "third_party/Polylib"]
	path = third_party/Polylib
url=https://github.com/avr-aics-riken/Polylib.git
[submodule "third_party/234Compositor"]
	path = third_party/234Compositor
	url = https://github.com/avr-aics-riken/234Compositor
[submodule "third_party/SURFACE"]
	path = third_party/SURFACE
url=https://github.com/avr-aics-riken/SURFACE.git
[submodule "third_party/TextParser"]
	path = third_party/TextParser
url=https://github.com/avr-aics-riken/TextParser.git
[submodule "third_party/UDMlib"]
	path = third_party/UDMlib
url=https://github.com/avr-aics-riken/UDMlib.git
[submodule "third_party/nanomsg"]
	path = third_party/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
