body {
	width:100%;
	height:100%;
	background-color:rgb(50,50,50);
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	overflow:hidden;
}

.menuButtonClass {
	font-size:20px;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
/* --- TODO: beautiful----*/
.AddButton {
	/*position:absolute;
	right:150px;
	top:60px;*/
	margin: 0px;
	width: 150px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}

#Render {
	/*position:absolute;
	right:150px;
	top:28px;*/
	margin: 5px;
	width: 150px;
	height:25px;
	background-color:#e53e78;
	color:#FFF;
}

#Clear {
	/*position:absolute;
	right:10px;
	top:60px;*/
	margin: 5px;
	width: 120px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}

#Save {
	/*position:absolute;
	right:210px;
	top:5px;*/
	margin: 5px;
	width: 60px;
}
#Open {
	/*position:absolute;
	right:0px;
	top:5px;*/
	margin: 5px;
	width: 200px;
}
/*------------------*/

.nodeListBox {
	/*position:absolute;*/
	margin: 5px;
}

.noneselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.spacer
{
	margin: 10px;
	height: 1px;
	left:5px;
	right:5px;
	background-color: #FFF;
}

.nodeProperty
{
	display: table;
	margin: 5px;
}

.nodePropertyRow
{
	display:table-row;
	background-color: #aeaeae;
}

.nodePropertyName
{
	display:table-cell;
	/*width: 150px;*/
	background-color: #ccc;
	border: 1px solid #868686;
	padding: 3px;
}

.nodePropertyConst
{
	/*width:150px;*/
	display:table-cell;
	border: 1px solid #868686;
	background-color: #aeaeae;
	padding: 3px;
}

.nodePropertyValue
{
	width: 50px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #eee ;
	padding: 3px;
}

.nodePropertyText
{
	width: 150px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #eee ;
	padding: 3px;
}


.nodePropertyTop
{
	background-color: #868686;
}

.menuTab
{
	background-color:rgba(180, 180, 180, 0.5);
	position:fixed;
	right:0px;
	top:0px;
	width:300px;
	bottom:0px;
	overflow:auto;
	z-index: 1;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.NodeCanvas
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.consoleArea
{
	position: relative;
	min-width:100%;
	min-height:100%;
	background:transparent;
}

.consoleOutput
{
	position: absolute;
	height:400px;
	bottom:0px;
	background-color:rgba(100, 100, 100, 0.5);
	overflow: auto;
}

.consoleTextBlock
{
	bottom:30px;
	width:800px;
	/*height:400px;*/
	display: table-cell;
	vertical-align: bottom;
	background:transparent;
}

.stdout
{
	font-size: 12px;
	color:white;
}

.stderr
{
	font-size: 12px;
	color:red;
}
/*
.closeMenuTabArea
{
	position: relative;
	min-width:100%;
	min-height:100%;
	margin: 0;
	padding: 0;
	z-index: -1;
}
*/

.rightTab
{
	top : 0px;
	right : 280px;
	width: 80px;
	height : 20px;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(100, 100, 100, 0.5);
	color: #898989;
	padding: 3px;

	border: solid 1px;
	border-radius:1px;
	
	-moz-transform-origin: 85% 50%;
	-webkit-transform-origin: 85% 50%;
	-o-transform-origin: 85% 50%;
	-ms-transform-origin: 85% 50%;
	transform-origin: 85% 50%;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.bottomTab
{
	left : 10px;
	bottom : 400px;
	width: 80px;
	height: 20px;
	padding: 3px;
	background-color: rgba(100, 100, 100, 0.5);
	color: #898989;

	border: solid 1px;
	border-radius:1px;
}