body {
	width:100%;
	height:100%;
	background-color:rgb(50,50,50);
}

.menuButtonClass {
	font-size:20px;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
/* --- TODO: beautiful----*/
#Add {
	position:absolute;
	right:150px;
	top:60px;
	width: 120px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}

#Render {
	position:absolute;
	right:150px;
	top:28px;
	width: 120px;
	height:25px;
	background-color:#e53e78;
	color:#FFF;
}

#Clear {
	position:absolute;
	right:10px;
	top:60px;
	width: 120px;
	height:25px;
	background-color:#e5923e;
	color:#FFF;
}

#Save {
	position:absolute;
	right:210px;
	top:5px;
	width: 60px;
}
#Open {
	position:absolute;
	right:0px;
	top:5px;
	width: 200px;
}
/*------------------*/

.nodeListBox {
	position:absolute;
	top:90px;
	height:300px;
}

.noneselect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nodeProperty
{
	display: table;
	
	position:absolute;
	top:370px;
	padding:10px 10px 10px;
}

.nodePropertyRow
{
	display:table-row;
	background-color: #aeaeae;
}

.nodePropertyName
{
	display:table-cell;
	width: 150px;
	background-color: #ccc;
	border: 1px solid #868686;
	padding: 3px;
}

.nodePropertyConst
{
	width:150px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #aeaeae;
	padding: 3px;
}

.nodePropertyValue
{
	width:150px;
	display:table-cell;
	border: 1px solid #868686;
	background-color: #eee ;
	padding: 3px;
}

.nodePropertyTop
{
	background-color: #868686;
}

.menuTab
{
	background-color:rgba(180, 180, 180, 0.5);
	position:fixed;
	right:0px;
	top:0px;
	width:280px;
	bottom:0px;
	overflow:auto;
	z-index: 1;
}

.NodeCanvas
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.consoleArea
{
	position: relative;
	min-width:100%;
	min-height:100%;
	background:transparent;
}

.consoleOutput
{
	position: absolute;
	height:400px;
	bottom:10px;
	background-color: rgba(70,70,70,0.5);
	overflow: auto;
}

.consoleTextBlock
{
	bottom:30px;
	width:800px;
	height:400px;
	display: table-cell;
	vertical-align: bottom;
	background:transparent;
}

.stdout
{
	font-size: 12px;
	color:white;
}

.stderr
{
	font-size: 12px;
	color:red;
}
/*
.closeMenuTabArea
{
	position: relative;
	min-width:100%;
	min-height:100%;
	margin: 0;
	padding: 0;
	z-index: -1;
}
*/

.rightTab
{
	top : 0px;
	right : 280px;
	bottom: 0px;
	z-index: 2;
}

.bottomTab
{
	left : 10px;
	bottom : 400px;
	width: 20px;
	height: 20px;
}