
.file {
	margin: 5px 0px 0px 10px;
	font-size: 12px;
	border-top: 2px solid #cbcbcb;
	position: relative;
	width: 8px;
	height: 16px;
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}
.file::before {
	bottom: -1px;
	left: -5px;
	position: absolute;
	width: 5px;
	height: 10.5px;
	border-left: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	content: "";
}
.file::after {
	top: -2px;
	left: -5px;
	position: absolute;
	border-right: 5px solid #cbcbcb;
	border-top: 5px solid transparent;
	content: "";
}

.dir {
	margin: 8px 0px 0px 10px;
	font-size: 12px;
	width: 16px;
	height: 12px;
	background: #cbcbcb;
	border-radius: 2px;
	position: relative;
}
.dir::before {
	position:absolute;
	content: "";
	bottom: 10px;
	width: 6px;
	height: 5px;
	border-radius: 2px;
	background: #cbcbcb;
}


.dir2 {
	margin: 6px 0px 0px 10px;
	font-size: 12px;
	width: 16px;
	height: 12px;
	background: #cbcbcb;
	border-radius: 2px;
	position: absolute;
}
.dir2::before {
	position:absolute;
	content: "";
	bottom: 10px;
	width: 6px;
	height: 5px;
	border-radius: 2px;
	background: #cbcbcb;
}
.dir2:hover::before {
	background : #eee
}

.dir2:hover {
	background : #eee
}
